<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="style-def.css">
	<title></title>
</head>
<style>
	body{
	}
	.parent {
    	display: flex;
    	align-items: center;
    	background-color: white;
    	margin: 5px;
    	box-shadow: 0 0 10px rgba(0,0,0,1);
    	border-radius: 5px;

	}
	   .parent > div {
        flex: 1;
        padding: 10px;
    }
	img{
		width: 100%;
		background-size: cover;

	}
	.right{
		display: grid;
		padding: 10px;
		grid-template-columns: 50% 50%;

	}
	.left{
		padding: 10px;
	}
	.A{
		padding: 10px;
	}

	.name{
		background-color: #1f73b0;
		color: white;
		padding: 10px;
		font-size: 20px;
		border-radius: 2% 2% 0% 0%;
		padding-left: 25px;
	}
	.text{
		margin-top: 10px;
	}
	.text div{
		margin-bottom: 5px;
		font-family: Calibri,"Ubuntu",Arial,Helvetica,sans-serif;
	}
	.container{
	
		box-shadow: 0 0 10px rgba(0,0,0,1);
	}
	.ending{
		border-top:1px solid rgba(0,0,0,0.1);
		background-color: #f5f5f5;
		padding: 14px;
		font-size: 15px;
		border-radius: 0% 0% 2% 2%;
		padding-left: 25px;
	}
	.text span{
		font-weight: bold;
	}
	.left img{
		width: 200px;
	}
	
	.image{
		padding: 7px 10px 7px 7px;

	}
	.image img{
		box-shadow: 0 0 7px rgba(0,0,0,0.7);
	}

	.A{
		box-shadow: 0 0 10px rgba(31,115,176,0.4);
		border-radius: 2%;
	}
	.mini-content{
		display: flex;

	}
	.tagname{
		padding-left: 37%;
		font-size: 40px;
		padding-bottom: 15px;
		background-color: white;
		padding-top: 15px;
		margin: 10px;
		box-shadow: 0 0 10px rgba(0,0,0,0.7);
		border-radius: 5px;
		margin-bottom: 18px;
	}
	.tagname span{
		background-color: white;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(31,115,176,1);
		padding: 7px;


	}
</style>
<body>
	<div class="tagname">
		<span>TOP 3 ANIME KZ</span>
	</div>
	<div class="parent">  
  		<div class="left">
  			
  			<div class="container">
				<div class="name"><span>ATACK ON TITAN</span></div>
				<div class="mini-content">
					<div class="image"><img src="images\ataka5.jpg"></div>
					<div class="text">
						<div class="voice"><span>Озвучка: AniDUB, Anistar</span></div>
						<div class="release"><span>Выпуск:</span> 11 октября 2018 </div>
						<div class="genre"><span>Жанр:</span> Детектив, Приключения, Cёнэн</div>
						<div class="description">Загнанное в угол человечество доживает свои последние дни под гнётом титанов - таинственных созданий, терроризирующих человеческую расу. Выжившие ютятся за стенами крупного поселения с собственным правительством, представляющим последний оплот централизованной власти в мире. Там же живёт и юноша по имени Эрен, проводя детство в относительной безопасности, пока не происходит событие из ряда вон: титаны прорываются в город, уничтожая всё на своём пути. После вторжения гигантов Эрен становится сиротой и клянётся уничтожить всех до единого титанов. На пути к своей цели он и его друзья вступают в отряд разведки, занимающийся вылазками за стену. Герой ещё не знает, сколько загадок в себе таит внешний мир.</div>
					</div>
				</div>
				<div class="ending">
					<span>Вчера в 18:15</span> |
					<span>Серии: 10 из 16(25)</span> |
					<span>Просмотров: 210</span>
				</div>
			</div>
  		</div>
  		<div  class="right">
  			
  			<div class="A">
  				
  		<div id="slider"> 
			<div class="slides">

				<div class="slider">
					<div class="images"> 
						<img style="width: 100%" src="images/titan/ataka1-1.png"> 
					</div> 
				</div> 

				<div class="slider">
					<div class="images"> 
						<img style="width: 100%" src="images/titan/ataka2-1.jpg"> 
					</div> 
				</div> 

				<div class="slider">	 
					<div class="images"> 
						<img style="width: 100%" src="images/titan/ataka3-1.jpg"> 
					</div> 
				</div> 

				<div class="slider">
					<div class="images"> 
						<img style="width: 100%" src="images/titan/ataka4-1.jpg"> 
					</div> 
				</div> 
			</div> 
		</div>

  			</div>
  			
  			<div  class="A">
  					<div id="slider"> 
						<div class="slides">

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka1-2.png"> 
								</div> 
							</div> 

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka2-2.jpg"> 
								</div> 
							</div> 

							<div class="slider">	 
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka3-2.jpg"> 
								</div> 
							</div> 

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka4-2.jpg"> 
								</div> 
							</div> 
						</div> 
					</div>		
				</div>

				<div  class="A">
  					<div id="slider"> 
						<div class="slides">

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka1-3.png"> 
								</div> 
							</div> 

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka2-3.jpg"> 
								</div> 
							</div> 

							<div class="slider">	 
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka3-3.jpg"> 
								</div> 
							</div> 

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka4-3.jpg"> 
								</div> 
							</div> 
						</div> 
					</div>		
				</div> 

				<div  class="A">
  					<div id="slider"> 
						<div class="slides">

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka1-4.png"> 
								</div> 
							</div> 

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka2-4.jpg"> 
								</div> 
							</div> 

							<div class="slider">	 
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka3-4.jpg"> 
								</div> 
							</div> 

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka4-4.jpg"> 
								</div> 
							</div> 
						</div> 
					</div>		
				</div> 
		</div>
	</div>

	<br>
	<div class="parent">  
  		<div class="left">
  			
  			<div class="container">
				<div class="name"><span>Sword Art Online</span></div>
				<div class="mini-content">
					<div class="image"><img src="images\sao5.jpg"></div>
					<div class="text">
						<div class="voice"><span>Озвучка: AniDUB, Anistar</span></div>
						<div class="release"><span>Выпуск:</span> 11 октября 2018 </div>
						<div class="genre"><span>Жанр:</span> Детектив, Приключения, Cёнэн</div>
						<div class="description">Загнанное в угол человечество доживает свои последние дни под гнётом титанов - таинственных созданий, терроризирующих человеческую расу. Выжившие ютятся за стенами крупного поселения с собственным правительством, представляющим последний оплот централизованной власти в мире. Там же живёт и юноша по имени Эрен, проводя детство в относительной безопасности, пока не происходит событие из ряда вон: титаны прорываются в город, уничтожая всё на своём пути. После вторжения гигантов Эрен становится сиротой и клянётся уничтожить всех до единого титанов. На пути к своей цели он и его друзья вступают в отряд разведки, занимающийся вылазками за стену. Герой ещё не знает, сколько загадок в себе таит внешний мир.</div>
					</div>
				</div>
				<div class="ending">
					<span>Вчера в 18:15</span> |
					<span>Серии: 10 из 16(25)</span> |
					<span>Просмотров: 210</span>
				</div>
			</div>
  		</div>
  		<div  class="right">
  			
  			<div class="A">
  				
  		<div id="slider"> 
			<div class="slides">

				<div class="slider">
					<div class="images"> 
						<img style="width: 100%" src="images/sao/sao1-1.jpg"> 
					</div> 
				</div> 

				<div class="slider">
					<div class="images"> 
						<img style="width: 100%" src="images/sao/sao2-1.jpg"> 
					</div> 
				</div> 

				<div class="slider">	 
					<div class="images"> 
						<img style="width: 100%" src="images/sao/sao3-1.jpg"> 
					</div> 
				</div> 

				<div class="slider">
					<div class="images"> 
						<img style="width: 100%" src="images/sao/sao4-1.jpg"> 
					</div> 
				</div> 
			</div> 
		</div>

  			</div>
  			
  			<div  class="A">
  					<div id="slider"> 
						<div class="slides">

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/sao/sao1-2.jpg"> 
								</div> 
							</div> 

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/sao/sao2-2.jpg"> 
								</div> 
							</div> 

							<div class="slider">	 
								<div class="images"> 
									<img style="width: 100%" src="images/sao/sao3-2.jpg"> 
								</div> 
							</div> 

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/sao/sao4-2.jpg"> 
								</div> 
							</div> 
						</div> 
					</div>		
				</div>

				<div  class="A">
  					<div id="slider"> 
						<div class="slides">

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/sao/sao1-3.jpg"> 
								</div> 
							</div> 

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/sao/sao2-3.jpg"> 
								</div> 
							</div> 

							<div class="slider">	 
								<div class="images"> 
									<img style="width: 100%" src="images/sao/sao3-3.jpg"> 
								</div> 
							</div> 

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/sao/sao4-3.jpg"> 
								</div> 
							</div> 
						</div> 
					</div>		
				</div> 

				<div  class="A">
  					<div id="slider"> 
						<div class="slides">

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/sao/sao1-4.jpg"> 
								</div> 
							</div> 

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/sao/sao2-4.jpg"> 
								</div> 
							</div> 

							<div class="slider">	 
								<div class="images"> 
									<img style="width: 100%" src="images/sao/sao3-4.jpg"> 
								</div> 
							</div> 

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/sao/sao4-4.jpg"> 
								</div> 
							</div> 
						</div> 
					</div>		
				</div> 
		</div>
	</div>


	<br>
	<div class="parent">  
  		<div class="left">
  			
  			<div class="container">
				<div class="name"><span>ATACK ON TITAN</span></div>
				<div class="mini-content">
					<div class="image"><img src="images\ataka5.jpg"></div>
					<div class="text">
						<div class="voice"><span>Озвучка: AniDUB, Anistar</span></div>
						<div class="release"><span>Выпуск:</span> 11 октября 2018 </div>
						<div class="genre"><span>Жанр:</span> Детектив, Приключения, Cёнэн</div>
						<div class="description">Загнанное в угол человечество доживает свои последние дни под гнётом титанов - таинственных созданий, терроризирующих человеческую расу. Выжившие ютятся за стенами крупного поселения с собственным правительством, представляющим последний оплот централизованной власти в мире. Там же живёт и юноша по имени Эрен, проводя детство в относительной безопасности, пока не происходит событие из ряда вон: титаны прорываются в город, уничтожая всё на своём пути. После вторжения гигантов Эрен становится сиротой и клянётся уничтожить всех до единого титанов. На пути к своей цели он и его друзья вступают в отряд разведки, занимающийся вылазками за стену. Герой ещё не знает, сколько загадок в себе таит внешний мир.</div>
					</div>
				</div>
				<div class="ending">
					<span>Вчера в 18:15</span> |
					<span>Серии: 10 из 16(25)</span> |
					<span>Просмотров: 210</span>
				</div>
			</div>
  		</div>
  		<div  class="right">
  			
  			<div class="A">
  				
  		<div id="slider"> 
			<div class="slides">

				<div class="slider">
					<div class="images"> 
						<img style="width: 100%" src="images/titan/ataka1-1.png"> 
					</div> 
				</div> 

				<div class="slider">
					<div class="images"> 
						<img style="width: 100%" src="images/titan/ataka2-1.jpg"> 
					</div> 
				</div> 

				<div class="slider">	 
					<div class="images"> 
						<img style="width: 100%" src="images/titan/ataka3-1.jpg"> 
					</div> 
				</div> 

				<div class="slider">
					<div class="images"> 
						<img style="width: 100%" src="images/titan/ataka4-1.jpg"> 
					</div> 
				</div> 
			</div> 
		</div>

  			</div>
  			
  			<div  class="A">
  					<div id="slider"> 
						<div class="slides">

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka1-2.png"> 
								</div> 
							</div> 

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka2-2.jpg"> 
								</div> 
							</div> 

							<div class="slider">	 
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka3-2.jpg"> 
								</div> 
							</div> 

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka4-2.jpg"> 
								</div> 
							</div> 
						</div> 
					</div>		
				</div>

				<div  class="A">
  					<div id="slider"> 
						<div class="slides">

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka1-3.png"> 
								</div> 
							</div> 

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka2-3.jpg"> 
								</div> 
							</div> 

							<div class="slider">	 
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka3-3.jpg"> 
								</div> 
							</div> 

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka4-3.jpg"> 
								</div> 
							</div> 
						</div> 
					</div>		
				</div> 

				<div  class="A">
  					<div id="slider"> 
						<div class="slides">

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka1-4.png"> 
								</div> 
							</div> 

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka2-4.jpg"> 
								</div> 
							</div> 

							<div class="slider">	 
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka3-4.jpg"> 
								</div> 
							</div> 

							<div class="slider">
								<div class="images"> 
									<img style="width: 100%" src="images/titan/ataka4-4.jpg"> 
								</div> 
							</div> 
						</div> 
					</div>		
				</div> 
		</div>
	</div>
</body>
</html>